/* ------BIG SCREEN------- */
@media only screen and (max-width: 1419px) and (min-width: 1253) {
    .container {
        padding: 0px 0%;
        max-width: 1300px;
        margin: auto;
    }
}

@media only screen and (max-width: 1220px) {
    .navbar ul li {
        margin-left: 50px;
    }

    .navbar ul li a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1017) and (min-width: 810px) {
    
    .container {
        padding: 0px 0%;
        max-width: 1300px;
        margin: auto;
    }
}

@media only screen and (max-width: 810px) and (min-width: 761px) {
   .container {
    padding: 0px 0%;
   }

   .navbar ul li {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 760px) {
    .navbar ul {
        display: none;
    }

    .hamburger {
        display: block;
        float: right;
        /* Show the hamburger menu icon on smaller screens */
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;

    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }

    .mobile_navbar .mobile_navmenu {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        background-color: rgb(17, 17, 17);
        padding-top: 120px;
    }

    .mobile_navbar .mobile_navmenu.active {
        right: 0;
    }

    .mobile_navbar .mobile_navmenu a {
        display: block;
        width: 100%;
        max-width: 150px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 10px 16px;
        font-weight: bold;
        font-size: 20px;
        color: #ffe885;
        text-decoration: none;
        transition: 0.3s;
    }

    .mobile_navbar .mobile_navmenu a:hover {
        color: #ffe885;
    }
}